.title {
  display: flex;
  justify-content: center;
}
.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;

  /* width: 500px;
    height: 500px; */
  /* background-color: antiquewhite; */
  border: 2px solid black;
}
.canvas {
    display: grid;
  height: 500px;
  width: 500px;


  /* background-color: antiquewhite; */
  border: 2px solid red;
}
/* .gridsquare {
 
  color: blueviolet;
  padding: 10px;
  border: 2px solid green;
}
.row {
  background-color: rgb(50, 176, 176);
  border: 2px solid blue;
  display: flex;
  flex-direction: column;

} */
