
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.header button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
}
.title {
  display: flex;
  justify-content: center;
}
.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;

  /* width: 500px;
    height: 500px; */
  /* background-color: antiquewhite; */
  border: 2px solid black;
}
.canvas {
    display: grid;
  height: 500px;
  width: 500px;
  border: 2px solid red;
}
